# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Force specific text files to always use LF
*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.wav binary
*.zip binary
*.7z binary
*.dll binary
*.exe binary
